.logo {
    width: 200px;
    /* margin: 30px; */
  }
  .navbar{
    background-color: #000000; 
  }

  .navbar-light .navbar-nav .nav-link{
      color: #ffff;
      
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #ffff;
    
  }
  .navbar-brand{
      padding: 50px;
  }
  .btn-outline-success {
    color: #ffff;
    border-color: #ffff;
}